#top{
    border: 4px solid blue;
    width: 25%;
    margin: 10px 20px 100px 400px;
    text-align: center;
}
#bottom{
    border: 4px solid red;
    width: 50%;
    margin: 200px;
    padding: 200px;
}