h1{
    font-family: 'Trebuchet MS';
    text-align: center;
}
.art{
    margin: auto;
}
td{
    height: 200px;
    padding: 100px;
    border: 6px solid white;
}
#one{
    background-color: #247ba0;
}
#two{
    background-color: #70c1b3;
}
#three{
    background-color: #b2dbbf;
}
#four{
    background-color: #f3ffbd;
}
#five{
    background-color: #ff1654;
}