body{
    background-color: #39c3b6 ;
    text-align: center;
}
.atas1{
    background-color: #011525;
    padding: 50pt -20pt 10pt 10pt;
    margin: -30pt 20pt -20pt 20pt;
}
.atas{
    margin: 35px;
    padding-top: 10px;
    padding-left: 20px;
    background: #011525;
}
h1{
    font-family: 'Trebuchet MS';
    text-align: center;
    color: white;
    font-weight: bold;
}
h2{
    font-family: 'Trebuchet MS';
    text-align: center;
    color: white;
    font-weight: bold;
}
#up{
    font-family: 'Courier New';
    text-align: center;
    color: white;
    font-weight: bold;
}
#down{
    font-family: monospace;
    text-align: center;
    color: white;
}
label{
    color: white;
    font-family: monospace;
}
button{
    display: block;
    width: 110px;
    height: 50px;
    border-radius: 15px;
    margin: auto;
    background-color: rgb(158, 158, 25);
}
.kotak{
    background-color: #011525;
    padding: 20pt 20pt 320pt 20pt;
    margin: 35pt -10pt -10pt -10pt;
}